{%extends 'layout.html'%}
{%block content%}
<div class="homepage">
            <h1>Welcome to Learnify!</h1><br/>


                <div class="desc1">
    
                  <p id="desc1">An AI-powered E-learning platform designed to help you learn and grow at your own pace. Our AI-powered learning system ensures that your learning experience is personalized and optimized to meet your individual needs. The system analyzes your learning patterns and adapts the content and delivery to suit your preferences, making learning more efficient and effective.</p>
                </div>

                <div class="desc2">
                    <p id="desc2">Ever faced that unfortunate moment when you have your exams creeping up, but have no idea of
how to begin your preparation? Look no further, Learnify is here to save the day! Find precise and to-the-point information on any desired topic!</p>
                </div>

        </div>
        <style>
          h1{
            color: #428bca;
          }
          .homepage{
            color:white;
            font-size:20px;
          }
        </style>
{%endblock content%}
